# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
src/shared/components/firebase.tsx
src/shared/components/firestore.tsx
src/shared/components/types.tsx
src\app\pages\footer.tsx
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# npm config vm fix (for my sandbox)
.npmrc
